  <title>Lista de Serviços</title>
   <h1>Serviços Disponíveis</h1>

  <ul>
    <% @services.each do |service| %>
      <li>
        <h2><%= service.user.name %></h2>
        <p><%= service.description %></p>
        <p>Preço: <%= service.price %></p>
        <%= link_to "Saiba mais", service_path(service) %>
      </li>
    <% end %>
  </ul>
<%= link_to 'Início', root_path %>
