<div class="container">
  <title>Lista de Serviços</title>
   <h1>Serviços Disponíveis</h1>

  <ul>
    <% @services.each do |service| %>
      <li>
        <h3><%= service.description %></h3>
        <h5><%= service.user.name %></h5>
        <p>Preço: <%= service.price %></p>
        <%= link_to "Saiba mais", service_path(service) %>
      </li>
    <% end %>
  </ul>
 <%= link_to 'Início', root_path,class: "btn btn-primary btn-lg" %>
</div>
