 <div class="container">

 <h1>Seus agendamentos</h1>
<ul>
<% @bookings.each do |booking| %>
  <div class="d-flex">
    <div class="card w-50 h-50 mb-5" >
      <div class="card-body">
        <h5 class="card-title"><%= booking.service.user.name %></h5>
        <p class="card-text"><strong>Tipo de serviço: </strong><%= booking.service.description %></p>
        <p class="card-text"><strong>Dia: </strong><%= booking.date %></p>
        <%= link_to 'Mais informacoes', service_booking_path(booking.service, booking) %>
      </div>
    </div>
  </div>
  <% end %>
</ul>
<%= link_to 'Início', root_path %>

</div>
