<div class="m-5">
  <h1><strong><%= @booking.user.name %></strong></h1>
  <p> <strong>Serviço:</strong> <%= @booking.service.description %></p>
  <p> <strong>Preço:</strong> <%= number_to_currency(@booking.service.price, unit: 'R$', format: '%u %n', separator: ',', delimiter: '.') %></p>
  <p> <strong>Dia do agendamento:</strong> <%= @booking.date.strftime('%d/%m/%Y') %></p>
  <%= link_to 'Todos agendamentos', bookings_path %>
</div>
