<!DOCTYPE html>
<html>
<head>
  <title>Lista de Serviços</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
  <h1>Serviços Disponíveis</h1>

  <ul>
    <% @services.each do |service| %>
      <li>
        <h2><%= service.name %></h2>
        <p><%= service.description %></p>
        <p>Preço: <%= number_to_currency(service.price) %></p>
      </li>
    <% end %>
  </ul>
</body>
</html>
